* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 80vh;
    margin: 0 auto;
    background-color: black;
}

div {
    display: flex;
   flex: 1;
}

nav,
.one,
.footer {
    background-color: #1F2937;
}

.textwithbutton {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.image {
    flex: 1;
    width: 200px;
}

.container {
    margin: 60px;
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
}

.info-container {
    display: flex;
    flex-direction: column;
}

.boxes {
    display: flex;
    
    gap: 10px;
    margin: 20px 70px;
    margin-top: 0;
}

.nav {
    margin: 0 60px;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
}

.box {
    border: 2px solid #3882F6;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    border-radius: 10px;
}

.box-one,
.box-two,
.box-three,
.box-four {
    display: block;
    
}

.subtext,
.info {
    text-align: center;
}

.subtext {
    margin: 8px 0;
}

button {
    width: 80px;
    background-color: #3882F6;
    border: none;
}

#header {
    margin: 0;
}

ul > li {
    list-style: none;
}

.quote-container {
    display: block;
    margin: 40px 100px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    margin: 0;
}

.guy {
    text-align: right;
}

.three {
    background-color: #E5E7EB;
}

.two {
    background-color: white;
}