* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 80vh;
    margin: 0 auto;
    background-color: black;
}

div {
    display: flex;
   flex: 1;
}

nav,
.one,
.footer {
    background-color: #1F2937;
}

.textwithbutton {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.image {
    flex: 1;
    width: 200px;
}

.container {
    margin: 60px;
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    height: 150px;
}

.info-container {
    display: flex;
    flex-direction: column;
}

.boxes {
    display: flex;
    
    gap: 10px;
    margin: 20px 70px;
    margin-top: 0;
}

.nav {
    margin: 0 60px;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    color: #F9FAF8;
    gap: 20px;
}

.box {
    border: 2px solid #3882F6;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    border-radius: 10px;
}

.box-one,
.box-two,
.box-three,
.box-four {
    display: block;
    
}

.subtext,
.info {
    text-align: center;
}



button {
    width: 80px;
    background-color: #3882F6;
    border: none;
}

#header {
    margin: 0;
}

ul > li {
    list-style: none;
}

.quote-container {
    display: block;
    margin: 40px 100px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    margin: 0;
}

.guy {
    text-align: right;
    margin-bottom: 0;
}

.three {
    background-color: #E5E7EB;
    
}

.two {
    background-color: white;
}

.four {
    background-color: white;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.call-container {
    background-color: #3882F6;
    justify-content: space-around;
    height: 70px;
    border-radius: 10px;
    
    margin: 30px 60px;
}

#text {
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}

.action,
.actiontwo {
    margin: 5px;
    margin-left: 20px;
    justify-content: center;
    color: white;
}

#button {
    width: 80px;
    margin: 20px;
    border-color: 2px solid white;
    color: white;
}

.action {
    padding-bottom: 0;
}

.actiontwo {
    padding-top: 0;
}

.footer {
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    font-size: 12px;
    flex: 1;
}

.logo,
#header {
    color: #F9FAF8;
}

.description {
    margin: 0;
    color: #F9FAF8;
}
